footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(212,206,70);
    display: flex;
    justify-content: center;
    align-items: center;  
}

footer p {
    background-color: rgb(239, 239, 156);
    padding: 1rem 20rem 1rem 20rem;
}
