footer{
    height:10vh;
    background-color: rgb(186,139,143);
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer a {
    color: rgb(85, 25, 77)
}

footer a:hover {
    color: rgb(241, 174, 232)
}