.albumsContainer{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.cardContainer {
  margin: 2rem;
  padding: 2rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.favorited .material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.albums {
  background-color: bisque;
}

.albums img {
  width: 15vw;
}
