.albumsContainer{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.cardContainer {
  margin: 2rem;
  padding: 2rem;
}


.material-symbols-outlined {
  padding: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.albums {
  background-color: bisque;
  width: 20vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.albums img {
  width: 15vw;
  padding: 1rem;
}
