@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,400;0,500;1,500&family=Pixelify+Sans&display=swap');


*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  cursor: default;

  & #app{
    min-height: 100vh;
  }

  & button{
    cursor:pointer;
  }
 


  & body{
    transition: ease-in-out 0.3s;
  }
}
 main{
  min-height: 85vh;
  display:flex;
  background-color: rgb(100, 170, 185);
  align-items: center;
  justify-content: center;
  padding: 15vh 0 0 0;
  width: 100vw;
 }

:root{
  font-family: 'Pixelify Sans';
}


