header {
    height: 20vh;
    background-image: url("https://static.wikia.nocookie.net/essentialsdocs/images/f/f5/PokeCenter.png/revision/latest?cb=20190218183553");
    background-size: cover;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-around;

}