.radio {
  padding: 1rem 10% 1rem 10%;
  background-color: rgb(85, 25, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: rgb(239, 215, 236);
}

input[type="radio"]:checked + .radio {
  background: rgb(241, 174, 232);
  color: rgb(85, 25, 77) !important;
}

input[type="radio"] {
  display: none;
}