
footer p{  
    padding:2vw;
    font-size: 1em;
    border: double 2px rgb(41, 65, 106);
    background-color: rgb(41, 115, 131, 0.9);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-family:'Pixelify Sans';
}

footer img{
 width:50px;
}

footer{
    height: 15vh;
    display:flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/drbssyzr7/image/upload/v1697294302/GameHut/village_fchpoe.png);
    background-color: greenyellow;
    background-size: cover;
    position: static;
    bottom: 0;
    width: 100vw;
    border-top: dotted 4px rgb(128, 128, 128, 0.6);
  }
  